.banner {
  display: flex;
  background-size: cover;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background-repeat: no-repeat;
}

.banner-content {
  padding-top: 400px;
  margin: 0 auto;
  color: white;
}

.banner-content > h1  {
  text-transform: uppercase;
  font-size: 50px;
  margin: 5px;
}

.banner-content > p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}


