.poster {
  width: 100px;
}

.logo {
  width: 100px;
}


#profile {
  width: 25%;
}

.container {
  width: 650px;
  margin: 0 auto;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.text-center {
  text-align: center;
 }

.text-left {
  text-align: left;
 }

.btn-peach {
  background-color: #F87060;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}

.btn-peach:hover {
  background-color: #DB6560;
  }

.list-inline {
  padding-left: 0;
}

.list-inline li {
  display: inline-block;
  padding: 20px;
}

.img-circle {
  border-radius: 50%
}

ul {
  display: block;
  list-style-type: disc;
}

div {
  display: block;
}

td {
  padding: 10;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #F87060;
  font-size: 22px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  color: #102542;
  font-size: 18px;
  font-weight: 800;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: #102542;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 1px;
  margin-bottom: 5px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  color: #102542;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 5px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #102542;
  background-color: #F5F5F5;
  font-weight: 300;
  font-size: 15px;
}

a {
  color: #B3BABA;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

p {
  display: block;
  font-size: 15px;
  font-weight: 300;
  margin-top: 5px;
}

.fa {
  font-size: 50px;
}



