@import url("avatar.css");
@import url("button.css");
@import url("banner.css");
@import url("card.css");

.container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}

.poster {
  width: 100px;
}

.logo {
  width: 100px;
}

.text-center {
  text-align: center;
 }

.text-left {
  text-align: left;
 }


.list-inline {
  padding-left: 0;
}

.list-inline li {
  display: inline-block;
  padding: 20px;
}

.fa {
  font-size: 25px;
}

ul {
  display: block;
  list-style-type: disc;
}

div {
  display: block;
}

td {
  padding: 10;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #F87060;
  font-size: 22px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  color: #102542;
  font-size: 18px;
  font-weight: 800;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: #102542;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 1px;
  margin-bottom: 5px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  color: #102542;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 5px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #102542;
  background-color: #F5F5F5;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
}

a {
  color: #B3BABA;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

p {
  display: block;
  font-size: 15px;
  font-weight: 300;
  margin-top: 5px;

}





